:root {
  color-scheme: light dark;
}

.navbar {
  flex: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

footer {
  flex: 1;
}

footer a:any-link {
  color: inherit;
  text-decoration: none;
}

#apis-collapse .card-footer .btn::after {
  content: "»";
}
